._ne_a {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.055);
  ._ne_b {
    box-shadow: 0 0px 10px 0 hsla(0, 0%, 0%, 0.051);
    border: 1px solid #eeeeee;
    background: #fff;
    min-width: 250px;
    border-radius: 5px;
    pointer-events: all;
    ._ne_c {
      padding: 10px;
      font-size: 16px;
      font-weight: 500;
    }
    ._ne_f {
      height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(https://global-uploads.webflow.com/5b44edefca321a1e2d0c2aa6/5c100e92855e62dd4dfe15e7_Dimensions-Guide-Layout-Parking-Icon.svg);
    }
    ._ne_d {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      min-height: 40px;
      max-height: 40px;
      ._ne_e {
        width: 60px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 14px;
        background: #9add6d;
        padding: 6px 8px;
        text-align: center;
        &:hover {
          background: #8ada55;
        }
        color: white;
        &:first-child {
          background: #fa7365;
          &:hover {
            background: rgb(255, 102, 85);
          }
        }
      }
      ._ne_h {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        pointer-events: none;
      }
    }
  }
}

._ne_g {
  display: flex;
}
