._up_a {
  position: fixed;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.055);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  ._up_b {
    background: white;
    pointer-events: all;
    border-radius: 5px;
    min-width: 300px;
    box-shadow: 0 0px 10px 0 hsla(0, 0%, 0%, 0.051);
    border: 1px solid #eeeeee;
    padding: 10px;
    ._up_n {
      font-size: 16px;
      text-align: center;
      color: #949494;
    }
    ._up_c {
      font-size: 16px;
      font-weight: 500;
      padding: 10px;
    }
    ._up_d {
      font-size: 14px;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      ._up_e {
        display: flex;
        gap: 5px;
        ._up_f {
          min-width: 115px;
          letter-spacing: 1px;
          text-align: right;
        }
      }
    }
    ._up_h {
      padding: 10px 10px 0 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      ._up_i {
        min-height: 30px;
        max-height: 30px;
        width: 60px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 14px;
        background: #9add6d;
        padding: 6px 8px;
        text-align: center;
        &:hover {
          background: #8ada55;
        }
        color: white;
        &:first-child {
          background: #fa7365;
          &:hover {
            background: rgb(255, 102, 85);
          }
        }
      }
      ._up_j {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        pointer-events: none;
      }
    }
    ._up_l {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      ._up_m {
        color: white;
        min-height: 30px;
        max-height: 30px;
        width: 70px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 14px;
        background: #9add6d;
        padding: 6px 8px;
        text-align: center;
        &:hover {
          background: #8ada55;
        }
      }
    }
  }
}

._up_k {
  display: flex;
}
