._d_a {
  ._d_f {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    ._d_b {
      display: flex;
      flex-direction: column;
      gap: 5px;
      ._d_c {
        text-align: center;
        font-size: 14px;
        width: 100%;
      }
      ._d_d {
        display: flex;
        gap: 5px;
        ._d_e {
          display: flex;
          align-items: center;
          cursor: pointer;
          background: #fafafa;
          padding: 2px 5px;
          border-radius: 5px;
          &:hover {
            background: #f7f7f7;
          }
          ._d_g {
            font-size: 14px;
          }
        }
        input[type="text"] {
          outline: none;
          width: 20px;
          text-align: center;
          pointer-events: none;
        }
      }
    }
  }
  ._d_h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    user-select: none;
    overflow-y: scroll;
    ._d_k {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      ._d_q_m {
        background: rgba(82, 171, 250, 0.2);
        min-height: 60px;
        min-width: 60px;
        max-height: 60px;
        max-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        ._d_v {
          font-size: 14px;
        }
        img {
          height: 52px;
          width: 52px;
        }
      }
    }
    ._d_i {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      ._d_o_s {
        background: rgba(154, 221, 109, 0.2);
        min-height: 60px;
        min-width: 60px;
        max-height: 60px;
        max-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        ._d_r {
          font-size: 14px;
        }
        img {
          height: 48px;
          width: 48px;
        }
      }
    }
    ._d_j {
      display: flex;
      flex-direction: row;
      ._d_n {
        display: flex;
        flex-direction: column;
        gap: 10px;
        ._d_q_l {
          background: rgba(250, 116, 101, 0.2);
          min-height: 60px;
          min-width: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          ._d_s {
            font-size: 14px;
          }
          img {
            height: 56px;
            width: 56px;
          }
        }
      }
      ._d_l {
        display: flex;
        flex-direction: column;
        gap: 10px;
        ._d_p_l {
          background: rgba(250, 116, 101, 0.2);
          min-height: 60px;
          min-width: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          ._d_u {
            font-size: 14px;
          }
          img {
            height: 56px;
            width: 56px;
          }
        }
      }
      ._d_m {
        margin: 0 10px;
        width: 1px;
        background: #000000;
        height: 100%;
      }
    }
  }
}
