._d_a {
  ._d_f {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    ._d_b {
      display: flex;
      flex-direction: column;
      gap: 5px;
      ._d_c {
        text-align: center;
        font-size: 14px;
        width: 100%;
      }
      ._d_d {
        display: flex;
        gap: 5px;
        ._d_e {
          display: flex;
          align-items: center;
          cursor: pointer;
          background: #fafafa;
          padding: 2px 5px;
          border-radius: 5px;
          &:hover {
            background: #f7f7f7;
          }
          ._d_g {
            font-size: 14px;
          }
        }
        input[type="text"] {
          outline: none;
          width: 20px;
          text-align: center;
          pointer-events: none;
        }
      }
    }
  }
}
